// Specific CSS for your home-page


.banner {
  height: 700px;
  background-image:
  linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1478827536114-da961b7f86d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
  background-repeat: no-repeat;
  display:flex;
  background-position: center;
  background-size: cover;
  color: white;
};


.banner-content {
  margin: 0 auto;
  padding: 20px
};


.icons-container{
  background:#eee;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons{
  background:rgb(191, 202, 220);
  border:.1rem solid rgba(0,0,0,.1);
  padding:2rem;
  display: flex;
  align-items: center;
  flex:1 1 25rem;
  border-radius: 10px;
}

.icons-container .icons img{
  height:5rem;
  margin-right: 1rem;
}

.icons-container .icons h3{
  color:#333;
  padding-bottom: .5rem;
  font-size: 1.3rem;
}

.icons-container .icons span{
  color:#555;
  font-size: 1.1rem;
}

.heading {
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  font-family: 'Alfa Slab One';;
  font-weight: lighter;
}

.box-container {
  background-color: whitesmoke;
  color: rgb(243, 108, 12);
  padding-bottom: 40px;
}

.homepage-background {
  background-color: #160f52;
  padding-top: 40px;
}
