
<div class="banner" style="height: 400px; background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('assets/552df3743f380ebe9aa2d8e78685ccc5.jpg');">
  <div class="banner-content">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h1>Wanderlust Tents</h1>
    <p> Probably the best tents in the world... </p>
  </div>
</div>


<form action="#" class="form-inline">
       <input type="text" class="form-control input-lg" placeholder="Where?">
       <input type="text" class="form-control input-lg" placeholder="When?">
       <select name="" id="" class="form-control input-lg">
         <option value="1">1 guest</option>
         <option value="2">2 guests</option>
         <option value="3">3 guests</option>
       </select>
       <input type="submit" class="btn btn-primary btn-lg" value="Search">
     </form>
