.navbar-lewagon {
  justify-content: space-between;
  background: #160f52;
  padding-left: 10px;
  padding-right: 10px;
  // top: 0;
  // position: sticky;

  /*
  overflow: hidden;
  padding: 50px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
*/
}

.navbar-lewagon a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  line-height: 20px;
  border-radius: 4px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

#logo{
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  font-size: 26px;
}

.navbar-dropdown-color {
  color: black !important;
}

#logincolor {
  color: white;
}
